#slider {
    margin: 0 auto;
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
}



#slider .slides {
    animation-name: carousel;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out; 
    
    display: flex; 
}

.active {
    background-color: blue !important;
}

#slide-tracker {
    display: flex;
    justify-content: center;
}

#slide-tracker .dot {
    z-index: 1;
    background-color: lightblue;
    margin: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
}

@keyframes carousel {
    from {
        transform: translateX(0px);
    }
    to {
       transform:translateX(-3000px);
    }
}