
body {
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 120%;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-wrap: wrap;
}

#searchbar {
    width: 50vw;
    height: 30px;
    margin: 10px;
    border-radius: 50px;
    border: none;
    text-align: center;
} 

#search-btn {
    width: 35px;
    height: 35px;
    background-color: white;
    border-radius: 50%;
    border: none;
}

img[search-icon] {
    width: 20px;
    height: 20px;
    object-fit:contain;
}


.weather {
    margin: 20px;
    padding: 30px 20px;
    background-color: black;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color:white;
}

.temp {
    margin: 0;
    margin-bottom: 0.4em;
}
.city{
    margin: 0;
}
  
.flex {
    display: flex;
    align-items: center;
}
  
.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.error {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #D8000C;
    background-color: #FFBABA;
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 10px 15px 50px;
}

.error button {
    margin-left: 20px;
}

.blur {
    filter: blur(1.5rem);
}
  